.divStyle {
	height: 100%;
	width: 50%;
	display: flex;
	position: absolute;
	align-items: center;
	left: 500px;
}

.btn1 {
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	left: -100px;
}

.btn2 {
	margin-left: -25px;
	margin-right: 15px;
}

.btn3 {
	margin-left: -25px;
	margin-right: 15px;
	position: relative;
	left: -100px;
}

body {
	background-image: url("avengersBG.jpg");
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

@media ( max-width : 920px) {
	.divStyle {
		background-color: red;
	}
}