*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
}

body{
	height: 100vh;
	background-image: url("avengersBG.jpg");
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	place-items: center;
	font-family: sans-serif;
	color: white;
}

.nav-bar {
	padding: 1em;
	background-image: url();
	font-weight: bold;
	font-family: cursive;
}

.container {
	height: 100%;
	width: 50%;
	display: flex;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.botao {
	cursor: pointer; 
	border : 0px;
	border-radius: 5px;
	padding: 5px;
	margin: 1em;
	background-color: black;
	color: white;
}

.botao:hover {
	text-decoration: none;
	background-color: white;
	color: black;
}

.rodape {
	
	background-image: url(footer.jpg);
	text-align: center;
	font-size: 10px;
}

.repo {
	color: white;
	text-decoration: none;
}